.flex1{
    display:flex;
    justify-content: space-between;
    color:white;
    /*    padding-left:5rem;
        padding-right:5rem;*/
}

.exp {
    padding: 0rem 5rem 5rem 5rem;
    color: white;
}

.flex2 {
    display: flex;
    justify-content: space-between;
}

video{
    height:240px;
    width:360px;
    padding-left:3rem;
}

img {
    height: 240px;
    width: 360px;
}
.mainbox{
    /*background-color: #8CA6DB; /* Blue color */
    /* background-color: #002349; */
    background: -webkit-linear-gradient(to bottom right, #78B3EA, #4169E1);
    background: linear-gradient(to bottom right, #78B3EA, #4169E1);
    color: white; /* Text color */
    padding: 1%; /* Padding inside the box */
    /* margin-left:20%;
    margin-right:20%;
    margin-top:5%;
    margin-bottom: 10%; */
    display: flex;
    margin: 5%;
    border-radius: 15px;
    flex: 1 1 40%;
    max-width: 40%;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.mainbox_projects{
    /*background-color: #8CA6DB; /* Blue color */
    /* background-color: #002349; */
    background: -webkit-linear-gradient(to bottom right, #78B3EA, #4169E1);
    background: linear-gradient(to bottom right, #78B3EA, #4169E1);
    color: white; /* Text color */
    padding: 5%; /* Padding inside the box */
    margin-left:5%;
    margin-right:5%;
    /*margin-top:5%; */
    margin-bottom: 10%; 
    display: flex;
    border-radius: 15px;
    /* flex: 1 1 1 20%;
    max-width: 40%; */
    box-sizing: border-box;
}

.mainbox_projects_image{
  background: -webkit-linear-gradient(to bottom right, #78B3EA, #4169E1);
  background: linear-gradient(to bottom right, #78B3EA, #4169E1);
  color: white; /* Text color */
  padding: 5%; /* Padding inside the box */
  margin-left:5%;
  margin-right:5%;
  /*margin-top:5%; */
  margin-bottom: 10%; 
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  /* flex: 1 1 1 20%;
  max-width: 40%; */
  box-sizing: border-box;
}

.col{
    flex: 1;
}

.leftbox{
  flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightBox{
    flex: 1;
    padding-left: 5%;
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;
        object-fit: cover;
    
      
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flexbox_projects{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.pics{
    width: 100%;
    height:auto;
}

.proj_pics{
  width: 50%;
  height:auto;

}

.img_box{
  padding-top:6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text{
    font-size: 15px;
}

.role{
    font-size: 20px;
    padding-bottom: 5%;
}

.company{
  padding-top:2%;
    font-size: 30px;
    padding-bottom: 2%;
}

.gradient-text {
    background-image: -webkit-linear-gradient(to bottom right, #ADD8E6, #4169E1);
    background-image: linear-gradient(to bottom right, #ADD8E6, #4169E1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 100px;
    text-align: center;
    font-family: palatino, serif;
    /* padding: 12% 0% 2.5% 0%; */
    margin-bottom: 1%;
    margin-top: -3%;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .summary{
    font-size: 25px;
    padding:2.5% 20% 0% 20%;
    font-family: sans-serif;
  }

  .flexy{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: -webkit-linear-gradient(to bottom right, #78B3EA, #4169E1);
    background-image: linear-gradient(to bottom right, #78B3EA, #4169E1);
    max-height: fit-content;
  }

  .flexy1{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: -webkit-linear-gradient(to bottom right, #78B3EA, #4169E1);
    background-image: linear-gradient(to bottom right, #78B3EA, #4169E1);

    max-height: fit-content;
  }

  .picy{
    flex:1;
  }
  .descy{
    flex:1;
    color: white;
    text-align: center;
    font-size: 15spx;
    padding:0% 4% 0% 4%;
  }

  ul{
    text-align: left;
  }

  @media (max-width: 1000px) {
    .flexbox {
      flex-direction: column;
    }}

    @media (max-width: 1000px) {
        .mainbox {
          max-width: 90%;
        }}
        .thick-line {
            height: 30px; /* Set the height of the line */
            background-color: #957C3D; /* Set the color of the line */
            margin-top: -.28%;
          }
  .header{
    font-size: 20px;
    padding-bottom:5%;
  }

  .arrowd1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top:1%; */
    margin-top:8%;

}

.arrowdown1:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
    cursor: pointer;
}

.arrowdown1 {
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  border-style: solid;
  border-color:  rgba(111, 163, 239);
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  
}

@media (max-width: 900px) {
  .flexbox_projects {
    flex-direction: column;
  }}